
.post-card {
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12); */
    box-shadow: 0px 0px 4px 2px rgba( 0, 0, 0, 0.2 );
    margin: 0 8px 24px 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.post-card:hover {
    box-shadow: 0px 0px 16px 2px rgba( 0, 0, 0, 0.2 );
}

.post-card__backdrop {
    background-color: rgba(0, 0, 0, 0.00);
}

.post-card__primary-image {
    display: block;
    margin: 0 auto;
    max-height: 100vh;
    max-width: 100%;
    width: auto;
}

.post-card__toolbar {
    display: flex;
    padding: 8px;
}

.post-card__author {
    display: flex;
    flex: 1;
    align-items: center;
}

.post-card__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-card__username {
    margin-left: 8px;
    font-size: 16px;
}

.post-card__actions {
    display: flex;
}

.post-card__icon {
    width: 24px;
    height: 24px;
    margin: 8px;
    color: darkgray;
}

.post-card__likes {
    display: flex;
    align-items: center;
}

.post-card__likes-count {
    color: darkgray;
    margin-left: 8px;
}

.post-card__likes--active .post-card__likes-count {
    color: hotpink;
}

.post-card__likes--active .post-card__icon {
    color: hotpink;
}
